# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and debug files
*.log
*.out
*.err

# Unit test and coverage reports
coverage/
*.cover
*.coverage
*.cov
*.py,cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE and editor specific files
.vscode/
.idea/
*.swp
*.swo